@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: "Prata-Regular"; 
// адрес шрифта и тип 
src: url("fonts/Prata-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

* {
	margin: 0;
	padding: 0;

	align-items: center;

}

$primary-color: #000;
$additional-color: #ba7273;
$additional-color-second: #7fd7dc;
$nav-color: #383d48;
$h-color: #fdd9da;
$h-look: linear-gradient(#fdd9da 40%, #332932);
$shadow-color: #332932;
$font-nav: Prata-Regular, sans-serif;
$logo-size: 80px;
$mob-padding: 2% 4% 5% 4%;
$tech_info-padding: 5% 0 5% 0;

html {
	background-color: $primary-color;
}

::-webkit-scrollbar { width: 0;}

.header, .footer {
	background-color: $additional-color;
	display: grid;
	grid-template-columns: 150px 1fr;
	box-shadow: inset 0 0px 20px 5px $shadow-color;
}

.footer {
	margin-top: 2%;
}

.header__logo {

	padding: 10px 0 10px 20px;

	img {
	width: $logo-size;
	height: $logo-size;
	}
}

.header__nav, .footer__nav {

 ul {
    list-style: none;
 	}
  
  li { 
  	display: inline-block; 
  	font-family: $font-nav;
  	font-weight: 600;
  	padding: 1.5% 2% 2% 0;
	}

  a {
    display: block;
    text-decoration: none;
    color: $nav-color;
    text-transform: uppercase;
	}

	a:hover {
		color: $primary-color;
	}

	a:focus {
		color: $primary-color;
	}
}

.main__hextech {
	background-image:url(img/back.png);
	background-repeat:no-repeat;

	.main__hextech__info {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.main__hextech__info_pic_body {
		width: 40vw;
		padding: 0 0 0 10%;
	}
}

.main__hextech_h {
		text-align: center;
		font-family: $font-nav;
		padding: 2% 0 1% 0;
		font-size: 4em;
		background: $h-look; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
	}

	.main__hextech__txt {
		color: $additional-color;
		font-family: $font-nav;
		padding: 2% 4% 0 5%;
		font-size: 1.2em;
	}

.main__about_technology__info {
		display: grid;
		grid-template-columns: 1fr 20%;

		.main__about_technology__info_txt {
			padding: 0;
		}
		
	}

.main__about_technology__info {
  padding: 0 5% 0 5%;
}

.main__about_technology__info_but {
	background-image: linear-gradient( 135deg, $additional-color 0%, $primary-color 100%);
	min-width: 250px;
	min-height: 60px;
	border-radius: 220px;
	border: 2px solid $shadow-color;
	color: $h-color;
	font-family: $font-nav;
	font-size: 1em;
	margin: 7%;
	} 

.main__about_technology__info_but:hover {
	cursor: pointer;
	background-image: linear-gradient( 135deg, $primary-color  0%, $additional-color-second 100%);
	border: 2px solid $additional-color-second;
}

.main__about_exmp {
	padding-bottom: 2%;
}

.main__about_exmp_info {
	display: grid;
	grid-template-columns: 1fr 1fr 8vw;
	padding: 0 4% 0 4%;
}

.main__about_exmp_info_dop {
	margin: 0 6% 0 -5%;
}

.main__about_exmp_info_pic {
	border: 2px solid $additional-color-second;
	width: 30vw;
}

.main__about_exmp_info_pic_body {
	width: 30vw;
	margin: 40px 40px -40px 40px;
}

.main__about_exmp_info_ch_fas_look {
	color: $additional-color-second;
	font-size: 2vw;
	border: 2px solid $additional-color-second;
	padding: 30px;
	border-radius: 120px;
}

.main__about_exmp_info_ch_fas_look:hover {
	cursor: pointer;
	color: $additional-color;
	border: 2px solid $additional-color;
}

.main__hextech__txt_second_type {
	  color: $additional-color-second;
		font-family: $font-nav;
		padding: 1% 1% 0 5%;
		font-size: 1.2em;
}

.main__about_sources_info_rol_one_tp  {
    margin: 1% 4% 3% 4%;
}

.main__about_sources_info_rol_one_tp, .main__about_sources_info_rol_second_pic {
  border: 2px solid $additional-color-second;
  width: 40vw;
 }

.main__about_sources_info_rol_one_tp_pic_body, .main__about_sources_info_rol_second_pic_body {
	width: 40vw;
	margin: 20px 20px -20px 20px;
}

.main__about_sources_info_rol_second_tp {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	padding: 1% 4% 2% 0;
}

.footer__nav {
	padding: 10%;
	li {
	padding-bottom: 8%	
	}
}

@media (max-width: 1400px) and (min-width: 1200px) {
	.main__about_technology__info {
		grid-template-columns: none;
		grid-template-rows: 70% 30%;

		.main__about_technology__info_buts {
			margin: 2% auto;
		}

		.main__about_technology__info_but {
			margin: 0 auto;
		}
	}
}

@media (max-width: 1199px) and (min-width: 768px){
	.main__about_technology__info {
		grid-template-columns: none;
		grid-template-rows: 70% 30%;

		.main__about_technology__info_buts {
			margin: 2% auto;
		}

		.main__about_technology__info_but {
			margin: 0 auto;
		}
	}

	.main__about_exmp_info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 40% 20%;
		justify-items: center;
		padding-bottom: 15%
	}
	.main__about_exmp_info_dop {
		margin: 0;
		text-align: center;
	}

	.main__about_sources_info_rol_second_tp {
		display: block;
	  padding: 0;
	}

	.main__about_sources_info_rol_one_tp, .main__about_sources_info_rol_second_pic {
		margin: 4% auto;
	}

} 

@media (max-width: 767px) and (min-width: 425px) {

	.main__hextech .main__hextech__info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
	}

	.main__hextech_h {
		text-align: center;
		font-family: $font-nav;
		padding: 2% 0 2% 0;
		font-size: 24px;
	}

.main__about_technology__info {
		grid-template-columns: none;
		grid-template-rows: 1fr;
		padding: 2% 0 0 0;

		.main__about_technology__info_buts {
			margin: 2% auto;
		}

		.main__about_technology__info_but {
			margin: 0 auto;
			min-width: 170px;
		}

	}
	.main__about_exmp_info_pic {
		width: 45vw;
	}

.main__about_exmp_info_pic_body {
	width: 45vw;
}


	.main__about_exmp_info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 40% 5%;
		justify-items: center;
		padding-bottom: 15%
	}
	.main__about_exmp_info_dop {
		margin: 0;
		text-align: center;
	}

	.main__about_exmp_info_ch_fas_look {
		padding: 15px;
	}

	.main__about_sources_info_rol_second_tp {
		padding-bottom: 2%;
	}

	.main__about_sources_info_rol_second_tp,.main__about_sources_info_rol_one_tp {
		display: block;
	}

	.main__about_sources_info_rol_one_tp, .main__about_sources_info_rol_second_pic {
		margin: 4% auto;
		width: 55vw;
	}

	.main__about_sources_info_rol_second_pic_body, .main__about_sources_info_rol_one_tp_pic_body {
		width: 55vw;
	}

	.footer {
		margin-top: 8%;
	}

}

@media (max-width: 424px) {
	.main__hextech .main__hextech__info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
	}

	.main__hextech_h {
		text-align: center;
		font-family: $font-nav;
		padding: 2% 0 2% 0;
		font-size: 24px;
	}

.main__about_technology__info {
		grid-template-columns: none;
		grid-template-rows: 1fr;
		padding: 2% 0 0 0;

		.main__about_technology__info_buts {
			margin: 4% 0 0 27%;
		}

		.main__about_technology__info_but {
			margin: 2% 0 0 0;
			min-width: 170px;
		}

	}
	.main__about_exmp_info_pic {
		width: 50vw;
	}

.main__about_exmp_info_pic_body {
	width: 50vw;
	margin: 20px 20px -20px 20px;
}


	.main__about_exmp_info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 270px;
		justify-items: center;
		padding-bottom: 15%
	}
	.main__about_exmp_info_dop {
		margin: 0;
		text-align: center;
	}

	.main__about_exmp_info_ch_fas_look {
		padding: 15px;
	}

	.main__about_sources_info_rol_second_tp {
		padding-bottom: 2%;
	}

	.main__about_sources_info_rol_second_tp,.main__about_sources_info_rol_one_tp {
		display: block;
	}

	.main__about_sources_info_rol_one_tp, .main__about_sources_info_rol_second_pic {
		margin: 4% auto;
		width: 70vw;
	}

	.main__about_sources_info_rol_second_pic_body, .main__about_sources_info_rol_one_tp_pic_body {
		width: 70vw;
	}

	.footer {
		margin-top: 8%;
	}
}